{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "globals": {
    "window": "readable",
    "document": "readable"
  },
  "rules": {
    "comma-dangle": ["error", "only-multiline"],
    "object-curly-spacing": ["error", "always"]
  }
}
